name: Release

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Build
        env:
          GOOS: windows
          GOARCH: amd64
        run: go build -ldflags "-X main.version=${{ github.ref_name }} -H=windowsgui" -o monibright.exe .

      - uses: softprops/action-gh-release@v2
        with:
          files: monibright.exe
          generate_release_notes: true
