name: Release

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:
  release:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Build
        run: pwsh ./scripts/build-windows-release.ps1 -Version ${{ github.ref_name }}

      - uses: softprops/action-gh-release@v2
        with:
          files: |
            out/monibright.exe
            out/monibright-setup.exe
          generate_release_notes: true
